<!DOCTYPE html>
<html lang="en" class="locked">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" href="css/newStyles.css">
</head>
<body>

    <div id="map"></div>

  <div class="main-block">
        <div class="header-menu">
            <button class="header-btn btn-burger" type="button"><i class="material-icons">menu</i></button>
            <div class="header-info">
            <h2> UserName</h2>
            <span><i class="material-icons">account_balance_wallet</i> 200</span>
            UserLocations
            </div>
            <% if (isAdmin) { %>
              <button class="header-btn btn-lifecycle" id="lifecycle-btn" type="button"><i class="material-icons">wb_sunny</i></button>
            <% } %>
           <div class="navigation-menu">
            <ul>
              <li><a href="#" id="log-out">LogOut</a></li>
              <li><a href="#" id="my-info">My information</a></li>
            </ul>
            <div class="sidebar is-hidden">
              <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="notification">
        </div>
        <div class="location-menu">
                <div class="main-btns">
                    <button class="btn-icon" id="show-user-location" type="button"><i class="material-icons">view_module</i></button>
                    <button class="btn-icon" id="center-user-location" type="button"><i class="material-icons">my_location</i></button>
                    <button class="btn-icon show-btn" type="button"><i class="material-icons">keyboard_arrow_down</i></button>
                </div>
                <div class="location-block">
                  <div class="current-loc-info"></div>
                  <div class="clicked-loc-info"></div>
                  <div class="form-container"></div>
                </div>
        </div>
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script>
    var socket = io();

    const showBtn = document.querySelector('.show-btn');
    const menu = document.querySelector('.location-menu');
    showBtn.addEventListener('click', (e) => {
      e.preventDefault();
      menu.classList.toggle('open');
    });

    const burgerBtn = document.querySelector('.btn-burger');
    const navigation = document.querySelector('.navigation-menu');
    burgerBtn.addEventListener('click', (e) => {
      e.preventDefault();
      navigation.classList.toggle('open');
    })

  </script>
  <script src="js/map-styles.js"></script>
  <script src="js/script.js"></script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVvJYiAmFhsqumbf3mNFYaBvHJczJSrh0&callback=initMap">
        </script>


    
</body>
</html>