<% if (location) { %>
  <form name="edit-loc-form" data-editing-loc-id="<%= location.locationId %>">
<% } else if (isAdmin && clicked) { %>
  <form name="occup-clicked-form">      
<% } else { %>
  <form name="occup-form">
<% } %>
  <div class="location-info">
    <div class="form-block">
        <div class="form-item">
            <label for="loc-name-field">Location name:</label>			
            <input type="name" name="location-name" id="loc-name-field" placeholder="Location name" value="<%= location ? location.locationName : '' %>" required>				
        </div>
        <div class="form-item">
            <label for="daily-msg-field">Daily message:</label>		
            <textarea name="daily-msg" id="daily-msg-field"><%= location ? location.dailyMessage : '' %></textarea>
        </div>		
    </div>
  </div>
  <div class="location-buttons">
    <div class="form-btns">
        <button class="btn">Occupy</button>
        <button type="reset" class="btn">Cancel</button>
    </div>
  </div>
</form>